table {width: 100%; table-layout: fixed; border-collapse: collapse; border:1px solid #666666;
  thead {
    tr {
      th {padding:0.5rem 0; border:1px solid #666666; font-size:1.7rem;}
    }
  }
  tbody {
    tr {
      td {padding:0.5rem 0; border:1px solid #666666; font-size:1.6rem;}
    }
  }
}